.author {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    text-align: center;
    text-indent: 0
    }
.buttonbox {
    border-color: #777;
    border-style: solid;
    border-width: 1px
    }
.buttontext {
    font-family: monotype, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.2;
    margin-left: 0.5em;
    margin-right: 0.5em
    }
.buttontext1 {
    font-family: monotype, sans-serif;
    font-size: 0.85714em;
    font-weight: bold;
    margin-left: 0.5em;
    margin-right: 0.5em
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre10 {
    font-style: italic
    }
.calibre11 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre12 {
    display: block;
    margin-left: 40px
    }
.calibre13 {
    display: block;
    font-family: monospace;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    white-space: pre
    }
.calibre14 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre2 {
    display: block;
    font-family: "SmallCaps", sans-serif;
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre3 {
    height: auto;
    max-width: 100%;
    width: auto
    }
.calibre4 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre5 {
    display: list-item
    }
.calibre6 {
    display: block;
    font-family: "SmallCaps", sans-serif;
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.7em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center
    }
.calibre7 {
    display: block
    }
.calibre8 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre9 {
    display: block;
    page-break-after: always
    }
.coverimage {
    display: block;
    text-align: center
    }
.dropcap {
    float: left;
    font-size: 1.5em;
    line-height: 0.8em;
    margin-bottom: -0.1em;
    margin-right: 3pt
    }
.example {
    font-family: courier, sans-serif;
    font-size: 0.875em;
    line-height: 1.2
    }
.example1 {
    background-color: rgb(244, 244, 244);
    display: block;
    font-family: courier, sans-serif;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    white-space: pre
    }
.example2 {
    font-family: courier, sans-serif;
    font-size: 0.85714em
    }
.example3 {
    font-family: courier, sans-serif;
    font-size: 0.9em;
    line-height: 1.2
    }
.first {
    display: list-item;
    margin-top: 1em
    }
.h1subheading {
    display: block;
    font-family: "SmallCaps", sans-serif;
    font-size: 1.125em;
    font-variant: small-caps;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center;
    text-indent: 0
    }
.h2subheading {
    display: block;
    font-family: "SmallCaps", sans-serif;
    font-size: 1em;
    font-variant: small-caps;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    text-align: center;
    text-indent: 0
    }
.heading {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-indent: 0
    }
.image {
    display: block;
    margin-bottom: 1.5em;
    margin-top: 1em;
    page-break-inside: avoid;
    text-align: center
    }
.indent {
    display: list-item;
    margin-left: 1em
    }
.indent1 {
    display: block
    }
.listheading {
    font-weight: bold
    }
.menuitem {
    font-family: monotype, courier, sans-serif;
    font-size: 0.85714em
    }
.narrow {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    text-align: center;
    width: 25%
    }
.nodisplay {
    display: none;
    font-family: "SmallCaps", sans-serif;
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.rights {
    display: block;
    margin-top: 4em;
    text-align: center
    }
.shortcut {
    font-family: monotype, courier, sans-serif;
    font-size: 0.875em;
    line-height: 1.2
    }
.sigilnotintoc {
    display: block;
    font-family: "SmallCaps", sans-serif;
    font-size: 1.25em;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.7em;
    text-align: left
    }
.sigilnotintoc1 {
    display: block;
    font-family: "SmallCaps", sans-serif;
    font-size: 1.125em;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5 em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: left
    }
.tip {
    background-color: #f0f0f0;
    border-style: solid;
    border-width: 1px;
    display: block;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-top: 2em;
    page-break-inside: avoid;
    text-align: center
    }
.tiptext {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.title {
    display: block;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.toolbar {
    display: block;
    margin-top: 2em;
    page-break-inside: avoid
    }
.version {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
